*{
	margin:0;
	padding:0;
}

body {
    background-color: salmon;
    padding:0;
    margin:0;
}

h1{
  font-family: 'Molengo', Helvetica, Arial, sans-serif;
  font-size: 80px;
  color:black;
  display:inline;
}

h2{
  font-family: 'Lekton', Helvetica, Arial, sans-serif;
  font-size: 50px;
  color:white;

}

.container{
	width:80%;
	margin:auto;
	overflow: hidden;
}

#motto .container{
	position:relative;
	margin-top:180px;
}

#main-header .container{
	margin-top:50px;
}
/*#main-header{
	display:inline;
}*/

#upload-section .container{
	/*border:solid black 10px;*/
	position:relative;
	height:40%;
}

#navbar{
	float:right;
	display:inline;
}
#navbar ul{
	list-style: none;
	padding-top:20%;
}
#navbar li{
	display:inline;
}
#navbar a{
	color:white;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
}

.form-container{
	position:absolute;
	left:50%;
	top:40%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%)
}

.button{
	padding:5px 15px; 
    background:white; 
    border:2px solid darkcyan;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    color:darkcyan;
    font-size:2em;
    font-family:'Lekton';
}

.button:hover{
  background: salmon; color: black;
  border: 2px solid black;
}

/*.center{
	margin-top: 100px;
	margin-left: 30%
	margin-right:30%;
	width: 50%;
}*/

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 2em;
    /*font-weight: 700;*/
    color: white;
    background-color: darkcyan;

    border:2px solid white;
    display: inline-block;
    border-radius: 5px;
    padding:5px 15px; 
}
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: black;
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
