body{
   background-color: white;
  padding:0;
  margin:0;
}
html{
  padding:0;
  margin:0;
}

h2{
  font-family: 'Molengo', Helvetica, Arial, sans-serif;
  font-size: 50px;
  color:black;
  text-align:center;
  margin-top: 10px;
  font:bold;
  width:100%;
}

td{
  position:relative;
}

label{
  position:absolute;
  border-radius: 100%;
  height: 25px;
  width:25px;
  left:40%;
  top: 30%;
  z-index:10;
}

.transactions{
  margin-top:50px;
}

.container{
  width:90%;
  margin-left:130px;
  overflow: hidden;
  
}
header .container{
  margin-top:20px;
}

.button{
  margin-top:10px;
}

.col{
  position:relative;
  /*border:2px solid green;*/
}

.center{
  font-family:"Karla", Helvetica, Arial;
  font-size:1.2em;
  letter-spacing: 1px;
}

.share-number{
  display:none;
  font-size:1.5em;
  width:100px;
  font-family:"Karla",Helvetica, Arial;
  letter-spacing: :1px;
}

.share-number ~ .focus-border{
  position:absolute;
  left:0;
  bottom:0;
  background-color:red;
  height:100px;
  width:10px;
}

.share-number:focus ~ .focus-border{
  width:100%;
  transition:0.4s;
}

.check{
  position: absolute;
  border: 4px solid salmon;
  border-radius: 100%;
  height: 25px;
  width:25px;
  left:40%;
  top: 30%;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

.check:hover{
  border: 4px solid #FFFFFF;
}

.check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 12px;
  width: 12px;
  left:10%;
  top: 10%;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check::before{
  background: yellow;
}

input[type=radio]:checked ~ .check::before{
  background: black;
}

 input[type=radio]:checked ~ .check {
  border: 5px solid black;
}

label:hover ~ .check{
  border: 4px solid black;
}

#submit-btn{
  padding:5px 15px; 
    background:white; 
    border:2px solid darkcyan;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    color:darkcyan;
    font-size:2em;
    font-family:'Lekton';
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
    transition: font .25s linear;
    -webkit-transition: font .25s linear;
    transition: background .25s linear;
    -webkit-transition: background .25s linear;
}

#submit-btn:hover{
  /*background: salmon; */
  color: black;
  border: 2px solid black;
}

#sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: salmon;
    overflow-x: hidden;
    padding-top: 20px;
}

#sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-family: 'Molengo', Helvetica, Arial, sans-serif;
    font-size: 25px;
    color: #818181;
    display: block;
}

#sidebar a:hover {
    color: #f1f1f1;
}

table {  
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 1040px; 
    border-collapse: 
    collapse; border-spacing: 0; 
}

table.center{
  margin-left:auto; 
  margin-right:auto;
  table-layout:fixed;
}

table.center td { overflow: hidden; }

td, th {  
    border: none; /* No more visible border */
    height: 50px; 
    /*border-bottom: 4px solid salmon;*/
    /*transition: all 0.3s; */
}

th {  
    background: white;  /* Darken header a bit */
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    font-family:"Karla",Arial;
}

td {  
    background: #FAFAFA;
    text-align: center;
}


/* Cells in even rows (2,4,6...) are one color */        
tr:nth-child(even) td { background: white; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */        
tr:nth-child(odd) td { background: gainsboro; }  

/*tr td:hover { background: #666; color: #FFF; }  */
/* Hover cell effect! */

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

input[type=submit]:hover{
  background: #666; color: #FFF;
}

input[type=radio]{
  position: absolute;
  visibility: hidden;
}

