
body{
	background-color: salmon;
  padding:0;
  margin:0;
  font-family: 'Lekton', Helvetica, Arial, sans-serif;
}

h1, h2{
	color:white;
}

a {
	color: darkcyan;
	text-decoration: none;
}

#parent {position: relative;}
#child {
    position: absolute;
    top: 80%;
    left: 30%;
    margin-top:25%;
    height: 30%;
    width: 50%;
    /*margin: -15% 0 0 -25%;*/
}