<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Molengo" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lekton" rel="stylesheet">
    </head>

    <body>
        <header id="main-header">
            <div class="container">
                <h1>splice!</h1>
                <nav id="navbar">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
            </nav>
            </div>
            
        </header>

        
        
        <section id="motto">
            <div class="container">
                 <h2>No more feud over who pays for what</h2>
            </div>
        </section>
       
        <section id="upload-section">
            <div class="container">
                <form action="/transform" method="post" enctype="multipart/form-data" >
                    <div class="form-container">
                      Id of first user:<br>
                        <input type="text" name="first_user_id" /><br>
                      Id of first user:<br>
                        <input type="text" name="second_user_id" /><br>
                      Id of group:<br>
                        <input type="text" name="group_id" /><br>
                      Which columns are...<br>
                      Transaction date: <br>
                      <select name="deets">
                      {% for item in first_row %}
                        <option value= "{{item}}" SELECTED>{{ item }}</option>"

                        {% endfor %}
                      </select>
                      Transaction details:<br>
                      <select name="deets">
                      {% for item in first_row %}
                        <option value= "{{item}}" SELECTED>{{ item }}</option>"
                        {% endfor %}
                      </select>
                      Cost:<br>
                      <select name="deets">
                      {% for item in first_row %}
                        <option value= "{{item}}" SELECTED>{{ item }}</option>"
                        {% endfor %}
                      </select>
                        <input class="button" type="submit" />
                      }
                      }
                    </div>
                </form>
            </div>
        </section>

        <footer id="main-footer">
            <p>Copyright &copy; 2018 divvy.csv</p>
        </footer>


        <div class="clr"></div>
    </body>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script>
    $(function(){
      $('input').change(function() {
        var filename = $(this).val().replace(/^.*\\/, "")
        $(this).next('label').text(filename);
        })
      $('#upload-section').removeClass('fade-out');
    });

    document.getElementById('upload-section').className += ' fade-out';

  </script> 

</html>