{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<head>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/success.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Molengo" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lekton" rel="stylesheet">
    
</head>
<body>
<!--   <div id="parent">
  	<div id="child"> -->
  		<h1>Success!</h1>
  		<h2>We have successfully imported your transactions to Splitwise</h2>
  		<p>Click  <a href="{{ url_for('home') }}">here</a> to go back to the main page</p>
  		<p>Or <a href="{{ url_for('friends') }}">here</a> to go to your account summary</p>
  		<p>Thank you for using splice!</p>
<!--   	</div>
  </div> -->
</body>
{% endblock %}
