{% extends "base.html" %}
{% block title %}Transactions{% endblock %}
{% block content %}
  <div class="jumbotron">
    <h2>Transactions</h2>
  </div>
  <div class="transactions">
    <div class="row">
      <div class="col-md-12">
        <form action="/submission" method=post>
          <table>
            <tr>
                
                <th>Date</th>
                <th>Cost</th>
                <th>Description</th>
                <th>Saleh</th>
                <th>Nuraini</th>
            </tr>
             {% for index, row in transactions.iterrows() %}
                <tr>
                    <td>{{ row['Transaction Date'] }}</td>
                    <td>{{ row['Amount'] }}</td>
                    <td>{{ row['Description']}}</td>
                    <td><input type=checkbox name=Saleh value="{{ index  }}" ></td>
                    <td><input type=checkbox name=Nuraini value="{{ index  }}" ></td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Submit">
    </form>
      </div>
    </div>
  </div>

{% endblock %}


